{% extends "base.html" %}
<!--
For displaying the entire new user's registration details before sending them for finalization.

No editing is allowed.
-->

{% block title %}
  Pendaftaran Personel - Hasil
{% endblock %}

{% block page_title %}
  Pendaftaran Personel - Hasil
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-6 mt-5">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Wajah Kanan</h4>
        <img id="picture-face-right" src="" alt="Wajah Kanan"></img>
      </div>
    </div>
  </div>
  <div class="col-6 mt-5">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Wajah Depan</h4>
        <img id="picture-face-front" src="" alt="Wajah Depan"></img>
      </div>
    </div>
  </div>
  <div class="col-6 mt-5">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Wajah Kiri</h4>
        <img id="picture-face-left" src="" alt="Wajah Kiri"></img>
      </div>
    </div>
  </div>
  <div class="col-6 mt-5">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Gambar eKTP</h4>
        <img id="picture-ektp" src="" alt="eKTP"></img>
      </div>
    </div>
  </div>
  <div class="col-12 mt-5">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Data eKTP</h4>
        <form id="form" method="POST" action="{{ url_for('personnel.register_personnel') }}">
          <div class="form-group">
            <label for="nik" class="col-form-label">NIK</label>
            <input readonly class="form-control" type="text" name="nik">
          </div>
          <div class="form-group">
            <label for="nama" class="col-form-label">Nama</label>
            <input readonly class="form-control" type="text" name="nama">
          </div>
          <div class="form-group">
            <label for="tempat_lahir" class="col-form-label">Tempat Lahir</label>
            <input readonly class="form-control" type="text" name="tempat_lahir">
          </div>
          <div class="form-group">
            <label for="tanggal_lahir" class="col-form-label">Tanggal Lahir</label>
            <input readonly class="form-control" type="date" name="tanggal_lahir">
          </div>
          <div class="form-group">
            <label for="jenis_kelamin" class="col-form-label">Jenis Kelamin</label>
            <input readonly class="form-control" type="text" name="jenis_kelamin">
          </div>
          <button type="submit" class="btn btn-lg btn-primary">Simpan</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% include "partials/modal-error.html" %}
{% endblock %}

{% block js_scripts %}
  <script>
    function dataURItoBlob(dataURI) {
      // convert base64 to raw binary data held in a string
      // doesn't handle URLEncoded DataURIs - see SO answer #6850276 for code that does this
      const byteString = atob(dataURI.split(',')[1]);

      // separate out the mime component
      const mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0]

      // write the bytes of the string to an ArrayBuffer
      const ab = new ArrayBuffer(byteString.length);

      // create a view into the buffer
      const ia = new Uint8Array(ab);

      // set the bytes of the buffer to the correct values
      for (let i = 0; i < byteString.length; i++) {
          ia[i] = byteString.charCodeAt(i);
      }

      // write the ArrayBuffer to a blob, and you're done
      const blob = new Blob([ab], { type: mimeString })
      return blob
    }

    $(() => {
      const pictureFaceLeft = document.getElementById('picture-face-left')
      const pictureFaceFront = document.getElementById('picture-face-front')
      const pictureFaceRight = document.getElementById('picture-face-right')
      const pictureEktp = document.getElementById('picture-ektp')

      // load config to determine the capture-url
      let data
      try {
        data = JSON.parse(sessionStorage.getItem('personnel_reg'))

        // put the images
        $('#picture-face-left').attr('src', data.faceLeft)
        $('#picture-face-front').attr('src', data.faceFront)
        $('#picture-face-right').attr('src', data.faceRight)
        $('#picture-ektp').attr('src', data.ektp.image)

        // put the form data
        const ektpData = data.ektp.data
        $('input[name="nik"]').val(ektpData.nik)
        $('input[name="nama"]').val(ektpData.nama)
        $('input[name="tempat_lahir"]').val(ektpData.tempat_lahir)
        $('input[name="tanggal_lahir"]').val(ektpData.tanggal_lahir)
        $('input[name="jenis_kelamin"]').val(ektpData.jenis_kelamin)
      } catch (e) {
        console.warn(e)
        const errorMessage = 'Gagal membaca data registrasi dari session!'
        $('#modal-error-content').text(errorMessage)
        $('#modal-error').modal('show')
      }

      $('#form').on('submit', ev => {
        ev.preventDefault()
        ev.stopPropagation()

        const url = $('#form').attr('action')
        const formData = new FormData()
        formData.append('ektp', JSON.stringify(data.ektp.data))

        const faceImgs = [ pictureFaceRight, pictureFaceFront, pictureFaceLeft ]
        faceImgs.map(pic => dataURItoBlob(pic.src))
          .map((blob, idx) => new File([blob], `img_face${idx+1}.png`, { type: 'image/png' }))
          .forEach((file, idx) => {
            formData.append(`img_face${idx+1}`, file)
          })
        formData.append('img_ektp', new File([dataURItoBlob(pictureEktp.src)], 'img_ektp.png', { type: 'image/png' }))
        $.ajax({
          method: 'POST',
          url: url,
          contentType: false,
          enctype: 'multipart/form-data',
          cache: false,
          data: formData,
          processData: false
        })
        .done(result => {
          // upload success.
          console.debug(result.id)
        })
        .fail((xhr, status, err) => {
          $('#modal-error-content').html(`<p>Error ${status}. Detail: ${err}</p>`)
          $('#modal-error').modal('show')
        })
      })
    })
  </script>
{% endblock %}

